.order-page {
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-and-filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    background-color: white;
    padding-block: 10px;
    padding-inline: 20px;
}

.title-text {
    color: #399CFF;
    font-size: 44px;
}

.order-filters {
    display: flex;
    gap: 5px;
}

.filter {
    background-color: white;
    color: #399CFF;
    width: fit-content;
    padding: 5px;
    font-size: 16px;
    border: none;
}

.order-and-info {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-column: span 5;
    background-color: white;
    height: fit-content;
    padding: 20px;
}

.card {
    grid-column: span 1;
    height: fit-content;
}

.steps  {
    color: #399CFF;
}

.full-step {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.border {
    background-color: rgb(107, 107, 107);
    height: 1px;
}

.order-text {
    color: rgb(107, 107, 107);
}

.tickets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.col-1 {
    grid-column: 1 / 2;
}

.col-6 {
    grid-column: 5 / 5;
}

.col-7 {
    grid-column: 6 / 6;
}

.pick-tickets {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.amount-dropdown {
    color: rgb(107, 107, 107);
    border: 1px solid #399CFF;
    width: fit-content;
    height: fit-content;
    padding-inline: 5px;
    place-self: center;
}

.center {
    text-align: center;
}

.code-and-btn {
    display: flex;
    gap: 10px;
    align-items: center;
}

.code-input {
    color: rgb(107, 107, 107);
    padding-inline: 5px;
    height: 20px;
    width: 100%;
}

.code-input::placeholder {
    font-size: 12px;
}

.add-btn {
    display: flex;
    align-items: center;
    background-color: #399CFF;
    color: white;
    text-decoration: none;
    font-size: 12px;
    height: 20px;
    padding-block: 1px;
    padding-inline: 30px;
    transition: 0.2s;
}

.add-btn:hover {
    background-color: #2a70b7;
}

.overview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    border: 2px solid #399CFF;
    padding: 10px;
    align-items: center;
}

.overview-img {
    grid-column: span 1;
    width: 100%;
    object-fit: cover;
}

.overview-text {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gray {
    color: rgb(107, 107, 107);
}

.icon {
    width: 30px;
    height: auto;
}

.small-text {
    font-size: 12px;
}

.ticket-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.pay-btn {
    grid-column: span 5;
    background-color: #399CFF;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 34px;
    padding-block: 20px;
    transition: 0.2s;
}

.pay-btn:hover {
    scale: 1.02;
    background-color: #2a70b7;
}

.input-fields {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.input {
    border: 1px solid #399CFF;
    width: 100%;
    padding-block: 10px;
    color: rgb(107, 107, 107);
    font-size: 12px;
    padding-inline: 10px;
}

.input::placeholder {
    color: rgb(165, 164, 164);
}

.payment-terms {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.payment {
    display: flex;
    gap: 40px;
}

.payment-btn {
    width: 20px;
    height: 20px;
    border: 2px solid #399CFF;
    appearance: none;
    cursor: pointer;
}

.payment-btn:checked {
    background-color: #399CFF;
}

.payment-img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.method {
    display: flex;
    align-items: center;
    gap: 10px;
}

.terms-of-use {
    display: flex;
    gap: 10px;
    align-items: center;
}

.terms-text {
    color: rgb(107, 107, 107);
    font-size: 14px;
    cursor: pointer;
}

.padding {
    padding: 10px 10px 20px 10px;
}

#seat-map {
    /* background-color: purple; */
    display: grid;
    row-gap: .5rem;
    width: fit-content;
    align-self: center;
}

.seat {
    width: 42px;
    height: 42px;
    background-color: #4e9bb7;
    border-radius: 10px;


    position: relative;
}

.seat::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 14px;
    background-color: #63a6bf;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.seat::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 14px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
}

.seat.selected::before {
    background-color: #63a6bf;
}


/* 
main: #4e9bb7
middle: #63a6bf
selected: #225465
*/

.seat.selected {
    background-color: #225465;
}

.movie-screen {
    border-top: 5px solid #225465;
    width: 60%;
    color: #225465;
    text-align: center;
    align-self: center;
    font-size: ;
}

.seat-colors {
    display: flex;
    align-self: center;
    gap: 10px;
}

.free {
    background-color: #4e9bb7;
    color: white;
    width: fit-content;
    padding-block: 10px;
    padding-inline: 20px;
}

.used {
    background-color: #225465;
    color: white;
    width: fit-content;
    padding-block: 10px;
    padding-inline: 20px;
}