.all-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 30px;
}

.card {
    background-color: white;
    height: fit-content;
}

.text {
    color: rgb(107,107,107);
}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-info {
    font-size: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 10px 20px 10px;
}

.card-btn {
    align-self: center;
    background-color: #399CFF;
    font-size: 14px;
    width: fit-content;
    padding-block: 5px;
    padding-inline: 10px;
    transition: 0.2s;
    text-decoration: none;
    filter: drop-shadow(0px 2px 2px #2667a8);
}

.card-btn:hover {
    cursor: pointer;
    background-color: #2a70b7;
}
