.selection-header {
    background-color: white;
    width: 50%;
    padding-block: 18px;
}

.header-text {
    color: #399CFF;
    font-size: 40px;
    margin-inline: 30px;
}

.filters {
    display: flex;
    gap: 5px;
    width: 50%;
}

.filter-img {
    width: 28px;
    height: 28px;
}

.checkbox-btn {
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #399CFF;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-btn:checked {
    background-color: #399CFF;
}

.checkbox {
    display: flex;
    align-items: center;
    background-color: white;
    width: fit-content;
    display: flex;
    gap: 5px;
    padding-block: 5px;
    padding-inline: 10px;
}

.checkbox-text {
    color: #399CFF;
}

.checkbox-text:hover {
    cursor: pointer;
}

.category-dropdown {
    background-color: white;
    border: none;
    color: #399CFF;
    font-size: 16px;
    flex-grow: 1;
}

.category-dropdown:hover {
    cursor: pointer;
}