* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black), url("/assets/images/body/header_afbeelding.jpg");
    background-color: black;
    background-repeat: no-repeat;
}

.container {
    padding-inline: 150px;
}

.bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (max-width: 750px) {
    .container {
        padding-inline: 20px;
    }

    .all-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
    }

    .homepage {
        margin-block: 50px;
        gap: 50px;
    }

    .welcome-text {
        width: 100%;
    }

    .map-and-contact {
        flex-direction: column;
        gap: 10px;
        padding: 14px;
    }

    .left-content {
        width: 100%;
    }

    .right-content {
        width: 100%;
    }

    .welcome-and-map {
        gap: 30px;
    }

    .selection-header {
        width: 100%;
        text-align: center;
    }

    .btn-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-left {
        width: 100%;
    }

    .top-middle {
        width: 100%;
    }

    .top-right {
        width: 100%;
    }

    .footer-top {
        gap: 50px;
        padding-block: 30px;
    }

    .footer-nav {
        text-align: center;
    }

    .footer-bottom {
        align-items: center;
    }

    .card-img {
        height: 250px;
    }

    .all-cards {
        grid-row-gap: 20px;
    }

    .phone-text {
        font-size: 14px;
    }
    
    .header-top {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    .page-link {
        font-size: 14px;
    }

    .logo-link {
        width: 50%;
    }

    .header-bottom {
        flex-direction: column;
        gap: 5px;
        padding-block: 5px;
        height: fit-content;
    }

    .movie-dropdown {
        padding-block: 2px;
    }

    .order-btn {
        padding-block: 4px;
    }
}