* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black), url("/assets/images/body/header_afbeelding.jpg");
    background-color: black;
    background-repeat: no-repeat;
}

.container {
    padding-inline: 150px;
}

.bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and (min-width: 1500px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }

    .homepage {
        margin-block: 100px;
    }

    .movie-page {
        margin-block: 50px;
    }

    .movie {
        margin-block: 50px;
    }

    .order-page {
        margin-block: 50px;
    }

    body {
        background-size: cover;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        padding-inline: 20px;
    }

    .all-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
    }

    .homepage {
        margin-block: 50px;
        gap: 50px;
    }

    .welcome-text {
        width: 100%;
    }

    .map-and-contact {
        flex-direction: column;
        gap: 10px;
        padding: 14px;
    }

    .left-content {
        width: 100%;
    }

    .right-content {
        width: 100%;
    }

    .welcome-and-map {
        gap: 30px;
    }

    .selection-header {
        width: 100%;
        text-align: center;
    }

    .btn-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-left {
        width: 100%;
    }

    .top-middle {
        width: 100%;
    }

    .top-right {
        width: 100%;
    }

    .footer-top {
        padding-block: 30px;
    }

    .footer-top-content {
        flex-direction: column;
        gap: 50px;
    }

    .footer-nav {
        text-align: center;
    }

    .footer-bottom-content {
        align-items: center;
    }

    .card-img {
        height: 250px;
    }

    .all-cards {
        grid-row-gap: 20px;
    }

    .phone-text {
        font-size: 14px;
    }

    .header-top {
        height: fit-content;
    }
    
    .header-top-content {
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding-block: 5px;
    }

    .page-link {
        font-size: 14px;
    }

    .logo-link {
        width: 50%;
    }

    .header-bottom {
        height: fit-content;
    }

    .header-bottom-content {
        flex-direction: column;
        gap: 5px;
        padding-block: 5px;
    }

    .movie-dropdown {
        padding-block: 2px;
    }

    .order-btn {
        padding-block: 4px;
    }

    .title {
        padding-block: 5px;
        padding-inline: 10px;
    }

    .title-text {
        font-size: 30px;
    }
    
    .img-and-info {
        display: flex;
        flex-direction: column;
    }

    .movie-img {
        width: 90%;
        align-self: center;
    }

    .all-actors {
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
    }

    .actor-img {
        height: 70%;
    }

    .buy-tickets {
        font-size: 30px;
        padding-block: 10px;
    }

    .movie {
        margin-block: 30px;
        gap: 30px;
    }

    .homepage {
        margin-block: 30px;
    }

    .movie-page {
        margin-block: 30px;
    }

    .order-page {
        margin-block: 30px;
    }

    .order-and-info {
        display: flex;
        flex-direction: column;
    }

    .seat {
        width: 30px;
        height: 30px;
    }

    .seat::before {
        width: 16px;
    }

    .seat::after {
        width: 16px;
    }

    .code-and-btn {
        flex-direction: column;
        gap: 5px;
    }

    .voucher-input {
        gap: 5px;
    }

    .movie-screen {
        width: 100%;
    }

    .seat-colors {
        font-size: 14px;
    }
    
    .input-fields {
        width: 100%;
    }
    
    .top-inputs {
        gap: 0;
    }

    .payment {
        gap: 20px;
    }

    .pay-btn {
        font-size: 30px;
        padding-block: 10px;
    }

    .overview {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 10px;
    }

    .icon {
        width: 24px;
    }

    .tickets {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .col-1 {
        width: 100px;
    }

    .col-6 {
        width: 50px;
    }

    .col-7 {
        width: 50px;
    }

    .contain-img {
        object-fit: contain;
    }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
    .container {
        padding-inline: 100px;
    }

    .all-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .btn-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .filters {
        flex-direction: row;
        width: fit-content;
    }

    .movie-img {
        width: 70%;
    }

    .all-actors {
        grid-template-columns: repeat(6, 1fr);
    }

    .logo-footer {
        width: 40%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .selection-header {
        width: 50%;
        text-align: left;
    }

    .all-cards {
        grid-template-columns: repeat(5, 1fr);
    }

    .movie-img {
        width: 60%;
    }

    .all-actors {
        grid-template-columns: repeat(7, 1fr);
    }

    .logo-footer {
        width: 30%;
    }

    .overview {
        width: 100%;
        flex-direction: row;
    }

    .overview-img {
        width: 20%;
    }

    .seat {
        width: 42px;
        height: 42px;
    }

    .seat::before {
        width: 27px;
        height: 14px;
    }

    .seat::after {
        width: 27px;
        height: 14px;
    }

    .movie-screen {
        width: 80%;
    }

    .input-fields {
        width: 50%;
    }

    .tickets {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .col-7 {
        width: 100%;
    }
}